{% extends "base_generic.html" %}

{% block title %}
	<title>Blog</title>
{% endblock %}

{% block content %}
	<h1>Blog home</h1>
	<p>Welcome to DIY Mini Blog, a homework of Django Tutorial by <em>Mozilla Developer Network</em>!</p>
	<h4>Dynamic content</h4>
	<p>The blog has the following record counts:</p>
	<ul class="index-list">
		<li>
			<b>Posts: </b> {{ num_posts }}
		</li>
		<li>
			<b>Authors: </b> {{ num_authors }}
		</li>
		<li>
			<b>Comments: </b> {{ num_comments }}
		</li>
	</ul>


	{% if user.is_authenticated %}
		<h4>Welcome, {{ user.username }}!</h4>
		{% if num_posts_by_user %}
			<p>
				You have {{ num_posts_by_user }}
				{% if num_posts_by_user == 1 %}
					post.
				{% elif num_posts_by_user > 1 %}
					posts.
				{% endif %}				
			</p>
			<ul>
				{% for post in posts_by_user %}
					<li>
						<a href="{{ post.get_absolute_url }}">{{ post.title }}</a> ({{ post.format_created_at }})
					</li>
				{% endfor %}
			</ul>
		{% else %}
			You have no posts yet.
		{% endif %}
	{% endif %}

{% endblock %}
